<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-responsible-person-heading"
        data-cy="ResponsiblePersonCreateUpdateHeading"
        jhiTranslate="voipadminApp.responsiblePerson.home.createOrEditLabel"
      >
        Create or edit a Responsible Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.secondName" for="field_secondName"
            >Second Name</label
          >
          <input
            type="text"
            class="form-control"
            name="secondName"
            id="field_secondName"
            data-cy="secondName"
            formControlName="secondName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.position" for="field_position">Position</label>
          <input type="text" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.room" for="field_room">Room</label>
          <input type="text" class="form-control" name="room" id="field_room" data-cy="room" formControlName="room" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.responsiblePerson.department" for="field_department"
            >Department</label
          >
          <select class="form-control" id="field_department" data-cy="department" name="department" formControlName="department">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                departmentOption.id === editForm.get('department')!.value?.id ? editForm.get('department')!.value : departmentOption
              "
              *ngFor="let departmentOption of departmentsSharedCollection; trackBy: trackDepartmentById"
            >
              {{ departmentOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
