<div>
  <h2 id="page-heading" data-cy="DeviceHeading">
    <span jhiTranslate="voipadminApp.device.home.title">Devices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="voipadminApp.device.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-device"
        [routerLink]="['/device/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="voipadminApp.device.home.createLabel"> Create a new Device </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="devices?.length === 0">
    <span jhiTranslate="voipadminApp.device.home.notFound">No devices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="devices && devices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mac"><span jhiTranslate="voipadminApp.device.mac">Mac</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="inventoryNumber">
            <span jhiTranslate="voipadminApp.device.inventoryNumber">Inventory Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="location">
            <span jhiTranslate="voipadminApp.device.location">Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hostname">
            <span jhiTranslate="voipadminApp.device.hostname">Hostname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="webLogin">
            <span jhiTranslate="voipadminApp.device.webLogin">Web Login</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="webPassword">
            <span jhiTranslate="voipadminApp.device.webPassword">Web Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dhcpEnabled">
            <span jhiTranslate="voipadminApp.device.dhcpEnabled">Dhcp Enabled</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ipAddress">
            <span jhiTranslate="voipadminApp.device.ipAddress">Ip Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subnetMask">
            <span jhiTranslate="voipadminApp.device.subnetMask">Subnet Mask</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="defaultGw">
            <span jhiTranslate="voipadminApp.device.defaultGw">Default Gw</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dns1"><span jhiTranslate="voipadminApp.device.dns1">Dns 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dns2"><span jhiTranslate="voipadminApp.device.dns2">Dns 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="provisioningMode">
            <span jhiTranslate="voipadminApp.device.provisioningMode">Provisioning Mode</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provisioningUrl">
            <span jhiTranslate="voipadminApp.device.provisioningUrl">Provisioning Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ntpServer">
            <span jhiTranslate="voipadminApp.device.ntpServer">Ntp Server</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes"><span jhiTranslate="voipadminApp.device.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="configuration">
            <span jhiTranslate="voipadminApp.device.configuration">Configuration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="model.name">
            <span jhiTranslate="voipadminApp.device.model">Model</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="responsiblePerson.lastName">
            <span jhiTranslate="voipadminApp.device.responsiblePerson">Responsible Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parent.id">
            <span jhiTranslate="voipadminApp.device.parent">Parent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/device', device.id, 'view']">{{ device.id }}</a>
          </td>
          <td>{{ device.mac }}</td>
          <td>{{ device.inventoryNumber }}</td>
          <td>{{ device.location }}</td>
          <td>{{ device.hostname }}</td>
          <td>{{ device.webLogin }}</td>
          <td>{{ device.webPassword }}</td>
          <td>{{ device.dhcpEnabled }}</td>
          <td>{{ device.ipAddress }}</td>
          <td>{{ device.subnetMask }}</td>
          <td>{{ device.defaultGw }}</td>
          <td>{{ device.dns1 }}</td>
          <td>{{ device.dns2 }}</td>
          <td jhiTranslate="{{ 'voipadminApp.ProvisioningMode.' + device.provisioningMode }}">{{ device.provisioningMode }}</td>
          <td>{{ device.provisioningUrl }}</td>
          <td>{{ device.ntpServer }}</td>
          <td>{{ device.notes }}</td>
          <td>
            <a
              *ngIf="device.configuration"
              (click)="openFile(device.configuration, device.configurationContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="device.configuration">{{ device.configurationContentType }}, {{ byteSize(device.configuration) }}</span>
          </td>
          <td>
            <div *ngIf="device.model">
              <a [routerLink]="['/device-model', device.model?.id, 'view']">{{ device.model?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="device.responsiblePerson">
              <a [routerLink]="['/responsible-person', device.responsiblePerson?.id, 'view']">{{ device.responsiblePerson?.lastName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="device.parent">
              <a [routerLink]="['/device', device.parent?.id, 'view']">{{ device.parent?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/device', device.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/device', device.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(device)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="devices && devices.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
