<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="setting">
      <h2 data-cy="settingDetailsHeading"><span jhiTranslate="voipadminApp.setting.detail.title">Setting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ setting.id }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.setting.textValue">Text Value</span></dt>
        <dd>
          <span>{{ setting.textValue }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.setting.option">Option</span></dt>
        <dd>
          <div *ngIf="setting.option">
            <a [routerLink]="['/option', setting.option?.id, 'view']">{{ setting.option?.code }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="voipadminApp.setting.selectedValues">Selected Values</span></dt>
        <dd>
          <span *ngFor="let selectedValues of setting.selectedValues; let last = last">
            <a [routerLink]="['/option-value', selectedValues?.id, 'view']">{{ selectedValues.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.setting.device">Device</span></dt>
        <dd>
          <div *ngIf="setting.device">
            <a [routerLink]="['/device', setting.device?.id, 'view']">{{ setting.device?.mac }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/setting', setting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
