<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-voip-account-heading"
        data-cy="VoipAccountCreateUpdateHeading"
        jhiTranslate="voipadminApp.voipAccount.home.createOrEditLabel"
      >
        Create or edit a Voip Account
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.manuallyCreated" for="field_manuallyCreated"
            >Manually Created</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="manuallyCreated"
            id="field_manuallyCreated"
            data-cy="manuallyCreated"
            formControlName="manuallyCreated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('username')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.password" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.sipServer" for="field_sipServer">Sip Server</label>
          <input type="text" class="form-control" name="sipServer" id="field_sipServer" data-cy="sipServer" formControlName="sipServer" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.sipPort" for="field_sipPort">Sip Port</label>
          <input type="text" class="form-control" name="sipPort" id="field_sipPort" data-cy="sipPort" formControlName="sipPort" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.lineEnable" for="field_lineEnable">Line Enable</label>
          <input
            type="checkbox"
            class="form-check"
            name="lineEnable"
            id="field_lineEnable"
            data-cy="lineEnable"
            formControlName="lineEnable"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.lineNumber" for="field_lineNumber">Line Number</label>
          <input
            type="text"
            class="form-control"
            name="lineNumber"
            id="field_lineNumber"
            data-cy="lineNumber"
            formControlName="lineNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.asteriskAccount" for="field_asteriskAccount"
            >Asterisk Account</label
          >
          <select
            class="form-control"
            id="field_asteriskAccount"
            data-cy="asteriskAccount"
            name="asteriskAccount"
            formControlName="asteriskAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                asteriskAccountOption.id === editForm.get('asteriskAccount')!.value?.id
                  ? editForm.get('asteriskAccount')!.value
                  : asteriskAccountOption
              "
              *ngFor="let asteriskAccountOption of asteriskAccountsCollection; trackBy: trackAsteriskAccountById"
            >
              {{ asteriskAccountOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.voipAccount.device" for="field_device">Device</label>
          <select class="form-control" id="field_device" data-cy="device" name="device" formControlName="device">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="deviceOption.id === editForm.get('device')!.value?.id ? editForm.get('device')!.value : deviceOption"
              *ngFor="let deviceOption of devicesSharedCollection; trackBy: trackDeviceById"
            >
              {{ deviceOption.mac }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
