<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="deviceModel">
      <h2 data-cy="deviceModelDetailsHeading"><span jhiTranslate="voipadminApp.deviceModel.detail.title">Device Model</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ deviceModel.id }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.name">Name</span></dt>
        <dd>
          <span>{{ deviceModel.name }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.isConfigurable">Is Configurable</span></dt>
        <dd>
          <span>{{ deviceModel.isConfigurable }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.linesCount">Lines Count</span></dt>
        <dd>
          <span>{{ deviceModel.linesCount }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.configTemplate">Config Template</span></dt>
        <dd>
          <div *ngIf="deviceModel.configTemplate">
            <a (click)="openFile(deviceModel.configTemplate, deviceModel.configTemplateContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            {{ deviceModel.configTemplateContentType }}, {{ byteSize(deviceModel.configTemplate) }}
          </div>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.firmwareFile">Firmware File</span></dt>
        <dd>
          <div *ngIf="deviceModel.firmwareFile">
            <a (click)="openFile(deviceModel.firmwareFile, deviceModel.firmwareFileContentType)" jhiTranslate="entity.action.open">open</a>
            {{ deviceModel.firmwareFileContentType }}, {{ byteSize(deviceModel.firmwareFile) }}
          </div>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.deviceType">Device Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'voipadminApp.DeviceType.' + deviceModel.deviceType }}">{{ deviceModel.deviceType }}</span>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.otherDeviceType">Other Device Type</span></dt>
        <dd>
          <div *ngIf="deviceModel.otherDeviceType">
            <a [routerLink]="['/other-device-type', deviceModel.otherDeviceType?.id, 'view']">{{ deviceModel.otherDeviceType?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.vendor">Vendor</span></dt>
        <dd>
          <div *ngIf="deviceModel.vendor">
            <a [routerLink]="['/vendor', deviceModel.vendor?.id, 'view']">{{ deviceModel.vendor?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="voipadminApp.deviceModel.options">Options</span></dt>
        <dd>
          <span *ngFor="let options of deviceModel.options; let last = last">
            <a [routerLink]="['/option', options?.id, 'view']">{{ options.code }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/device-model', deviceModel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
