<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-option-heading" data-cy="OptionCreateUpdateHeading" jhiTranslate="voipadminApp.option.home.createOrEditLabel">
        Create or edit a Option
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.option.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.option.descr" for="field_descr">Descr</label>
          <input type="text" class="form-control" name="descr" id="field_descr" data-cy="descr" formControlName="descr" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.option.valueType" for="field_valueType">Value Type</label>
          <select class="form-control" name="valueType" formControlName="valueType" id="field_valueType" data-cy="valueType">
            <option [ngValue]="null">{{ 'voipadminApp.OptionValueType.null' | translate }}</option>
            <option value="TEXT">{{ 'voipadminApp.OptionValueType.TEXT' | translate }}</option>
            <option value="SELECT">{{ 'voipadminApp.OptionValueType.SELECT' | translate }}</option>
          </select>
        </div>

        <fieldset class="possible-values-group" *ngIf="editForm.get('valueType')?.value === 'SELECT'" formArrayName="possibleValues">
          <legend jhiTranslate="voipadminApp.option.possibleValues">Possible Values</legend>
          <div class="possible-value-input input-group" *ngFor="let possibleValue of possibleValues.controls; let i = index;" [formGroupName]="i">
            <input type="text" class="form-control" formControlName="value" placeholder="Value">
            <button class="btn btn-outline-secondary" type="button" (click)="removePossibleValue(i)">Remove</button>
          </div>

          <button type="button"
                  class="btn btn-secondary"
                  (click)="addPossibleValue()"
                  jhiTranslate="voipadminApp.option.add">Add Possible Value</button>
        </fieldset>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="voipadminApp.option.multiple" for="field_multiple">Multiple</label>
          <input type="checkbox" class="form-check" name="multiple" id="field_multiple" data-cy="multiple" formControlName="multiple" />
        </div>

        <div class="form-group">
          <label jhiTranslate="voipadminApp.option.vendors" for="field_vendors">Vendors</label>
          <select class="form-control" id="field_vendors" data-cy="vendors" multiple name="vendors" formControlName="vendors">
            <option
              [ngValue]="getSelectedVendor(vendorOption, editForm.get('vendors')!.value)"
              *ngFor="let vendorOption of vendorsSharedCollection; trackBy: trackVendorById"
            >
              {{ vendorOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
