<div>
  <h2 id="page-heading" data-cy="OptionHeading">
    <span jhiTranslate="voipadminApp.option.home.title">Options</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="voipadminApp.option.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-option"
        [routerLink]="['/option/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="voipadminApp.option.home.createLabel"> Create a new Option </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="options?.length === 0">
    <span jhiTranslate="voipadminApp.option.home.notFound">No options found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="options && options.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span jhiTranslate="voipadminApp.option.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="descr"><span jhiTranslate="voipadminApp.option.descr">Descr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valueType">
            <span jhiTranslate="voipadminApp.option.valueType">Value Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="multiple">
            <span jhiTranslate="voipadminApp.option.multiple">Multiple</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let option of options; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/option', option.id, 'view']">{{ option.id }}</a>
          </td>
          <td>{{ option.code }}</td>
          <td>{{ option.descr }}</td>
          <td jhiTranslate="{{ 'voipadminApp.OptionValueType.' + option.valueType }}">{{ option.valueType }}</td>
          <td>{{ option.multiple }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/option', option.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/option', option.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(option)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="options && options.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
